// $lightest-gray: #f7f7f5;
// $light-gray: #e2e2e2;
// $gray: #999;
// $dark-gray: #6f6f6f;
//
// $lightest-blue: #f0f8fc;
// $light-blue: #6288a5;
// $blue: #326891;
// $dark-blue: #4d7b9f;
// $darkest-blue: #265e8b;

button {
	background-color: $light-blue;
	border-color: $dark-blue;
	color: white;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: $blue;
  border-color: $darkest-blue;
}

a:hover {
	text-decoration: underline;
}


.userform label, .userform input {
  display: block;
}

form {
  background-color: white;
  display: inline-block;
  padding: 15px;
  border: 1px solid $gray;
}


$formpad: 7px;
label {
  margin-top: $formpad;
}

input {
  padding: $formpad;
  margin-bottom: $formpad;
  border: 1px solid $gray;
}

form ul {
  display: block;
  margin: $formpad 0;
}


// label {
//   display: block;
// }

.error {
  color: red;
}
