// color
$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

// font
$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;

// color palette

// main color
$color1: #FF0000;
$color1-low: #C10000;

//group color
$color2: #0D083B;
$color2-hi: #383276;

// guest button color
$color3: #0012F6;
$color3-low: #000EB9;

// footer color
$color4: #010312;

// group page bg
$color5: #FAFAFA;

// landing page gray topic buttons
$color6: #F3F3F3;

// landing page carousel background
$color7: #FAFAFA;
