
$buttonrad: 3px;

.button {
  // box-sizing:border-box;
  padding: 9px 16px;
  font-weight: 500;
  box-shadow: 0 1px 2px $dark-gray;
  text-decoration: none;
  border-radius: $buttonrad;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

.bsmall {
  padding-top: 7px;
  padding-bottom: 7px;
}

.bremove {
  padding: 2px 10px;
  margin-top: 8px;
}

// color below is
.topicbutton {
  background-color: $color6;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  // font-weight: 500;
  font-size: 16px;
  flex-wrap: nowrap;
  display: inline-flex;
  align-items: center;
  height: 40px;
  margin: 0 5px;
  padding: 0 16px;
  margin-bottom: 16px;
  &:hover {
    background-color: $color1;
    color: white;
  }
}

// signup button color is defined in the header


button {
  @extend .button;
	// text-transform: uppercase;
	// text-align: center;
}
