
$buttonrad: 3px;

.button {
  // box-sizing:border-box;
  padding: 9px 16px;
  font-weight: 500;
  box-shadow: 0 1px 2px $dark-gray;
  text-decoration: none;
  border-radius: $buttonrad;
  display: inline-block;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.grpbut {
  padding-top: 7px;
  padding-bottom: 7px;
}

// signup button color is defined in the header


button {
  @extend .button;
	// text-transform: uppercase;
	// text-align: center;
}
