form {
  background-color: white;
  padding: 15px;
  border: 1px solid $gray;
}


$formpad: 7px;
label {
  margin-top: $formpad;
}

input {
  padding: $formpad;
  margin-bottom: $formpad;
  border: 1px solid $gray;
}

form ul {
  display: block;
  margin: $formpad 0;
}

.userform h2{
  color: $color1;
}

// want it 340 down from the top and centered

.userholder {
  position: absolute;
  top: 340px;
}

.userform {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.userform label, .userform input {
  display: block;
  // align-self: flex-start;
  // width: auto;
}

.userform button, .userform a {
  display: inline-block;
  margin-top: 10px;
  // margin-right: auto;
}
