form {
  background-color: white;
  padding: 15px;
  border: 1px solid $gray;
}


$formpad: 7px;
label {
  margin-top: $formpad;
}

input, textarea {
  padding: $formpad;
  margin-bottom: $formpad;
  border: 1px solid $gray;
}

form ul {
  display: block;
  margin: $formpad 0;
}

.userform h2{
  color: $color1;
}

// want it 340 down from the top and centered

.userholder {
  position: absolute;
  top: 340px;
}

.userform {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  label, input {
    display: block;
  }
  button, a {
    margin-top: 10px;
  }
}

.creategroup {
  @extend .userform;
  border: 1px solid $light-gray;
  border-top: 0;
  width: 808px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  textarea {
    display: block;
  }
  div {
    width: 592px;
    label {
      display: inline-flex;
      padding: 5px;
      margin-top: 10px;
      margin-right: 10px;
      border: 1px solid $lightest-gray;
      background-color: $lightest-gray;
      &:hover {
        cursor: pointer;
      }
      input {
        margin-left: 5px;
        margin-bottom: auto;
        margin-top: auto;
      }
    }
  }
}
