

$grouprad: 4px;
// USE FIRST OF AND LAST OF HERE

.groupleft-holder {
  // margin: 16px;
  // display: inline-block;
  margin-right: 12px;
  border-bottom: 1px solid $gray;
  margin-bottom: auto;
}

.group-botmarg {
  margin-bottom: 16px;
  border-bottom: 1px solid $gray;
}

$bordercolor: $light-gray;

.groupshow {
  // padding: 16px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  padding-top: 0px;
  width: $pagewidth;
}

.spacebet {
  display: flex;
  justify-content: space-between;
}

.groupleft {
  // margin: 16px;
  width: 166px;
  padding:16px;
  background-color: white;
  border: 1px solid $bordercolor;
}

.groupmiddle {
  // margin: 16px;
  width: 544px;
  padding:16px;
  background-color: white;
  border: 1px solid $bordercolor;
  nav a{
    margin-right: 10px;
  }
}


.groupright {
  // margin: 16px;
  padding:16px;
  background-color: white;
  border: 1px solid $bordercolor;
}
