header {
  // margin: 16px;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid $gray;
}

header .logo {
  color: $color1;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 3px 1px 2px $light-gray;
}

header .logo:hover {
  cursor: pointer;
}

header .right, header .left {
  bottom: 0;
  padding: inherit; //needed to position them correctly
}


header .login {
  background-color: white;
}

header a.button {
  margin-left: 10px;
}

a.button.signup {
  background-color: $color1;
  color: white;
  &:hover {
    background-color: $color1-low;
  }
}

a.button.guestlogin {
  background-color: $color3;
  color: white;
  &:hover {
    background-color: $color3-low;
  }
}

a.button.logout {
  @extend a.button.signup;
  &:hover {
    @extend a.button.signup:hover;
  }
}
